<% content_for :header_title do %><h3>Skicka brekräftelse instruktionerna</h3><% end %>
<% content_for :primary_width_class do %><%= "seven columns" %><% end %>
<% content_for :secondary_width_class do %><%= "five columns" %><% end %>


<% content_for :primary_action do %>
	<%= simple_form_for( resource, :as => resource_name, 
						 :url => confirmation_path(resource_name), 
						 :html => { :method => :post }) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :email, :label => "Ange ditt epost address", :required => true %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Skicka brekräftelse instruktionerna igen" %>
	  </div>
	<% end %>
<% end %>

<% content_for :secondary_action do %>
	<br>	
	<p>Tveka inte att <a href="mailto:support@satertjarn15b.se">kontakta oss</a> om du har problem med ditt konto, eller med änvändning av bokningssystemet!</p>
<% end %>
