div#header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;

  body.home &, body.calendar & { border-bottom: none;}

  @include clearfix;
}


div#logo {
  float: left;

  h2 {

    a {color: #000000;text-decoration: none;}

    font-family: "Georgia", serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.1;
    margin:  5px 0 0;
  }

  h3 {
    margin-left: 100px;
    margin-top: 4px;
    font-size: 1.2em;
  }
}


ul#nav {
  @include horizontal-list;
  float: right;
  margin: 0px;



  li {
    padding-top: 6px;
    margin-left: 11px;
    border-top: 4px solid white;

    &.current_page {
      border-top: 4px solid gray;
    }


    a {
      font-family: "Helvetica", Arial, sans-serif;
      font-size: 14px;
      // font-weight: bold;
      color: #333;
      text-decoration: none;
    }
  }
}


ul#utility_nav {
  float: right;
  list-style: none; 
  margin: 11px 0 0 58px;
  padding: 0;

  li { 
    padding-top: 4px;
    margin-left: 5px;
    display: inline; 
    
    // NOTE: color styling for visited links is ugly here 
    a { color: #2BA6CB; text-decoration: none; }
  }
}