// Let's start with the layout
body {
  margin: 0px;
}

div#wrapper {
  // first, center the div wrapper
  margin: 0 auto;
  padding: 0;
  width: 980px;
}


@import "page/header";



div#page_body {
  float:left;

  body.home & { width: 600px; }
  
  margin-top: 8px;
  padding: 2px;

  // disabling the body p+p selector in blueprint
  // TODO: figure out a cleaner way to do this!
  p + p {
    // margin-top: 0;
    text-indent: 0;
  }

  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }
  p {
    font-size: 1.1em;
  }
}

p#booking_button {
  float:right;

  margin-top: 7px;
  padding: 50px;
}




#footer {
  margin: 35px 0 50px 0;
  padding: 5px 0;
  border-top: 1px solid lightgray;
  

  p.copyright {
    float: left;
    font-size: 12px;
    margin: 3px 0 5px 0;
  }

  // div.fb-like {
  //  @include clearfix;
  // }

  ul {
    @include horizontal-list;

    font-size: 12px;
    float: right;
    // font-weight: bold;
    padding-left: 10px;

    li { 
      margin-left: 10px; 

      a { color: #2BA6CB; text-decoration: none; }
    }

  }

  div#fb_wrapper {clear:both;}
}





