<%# FIXME: dude, i know you're in a hurry, but <br> tags, really? %>
<% content_for :header_title do %><h3>Konto uppgifter</h3><% end %>
<% content_for :primary_width_class do %><%= "seven columns" %><% end %>
<% content_for :secondary_width_class do %><%= "five columns" %><% end %>



<% content_for :primary_action do %>
  <br>
  <%= simple_form_for(  resource, 
              :as => resource_name, 
              :url => registration_path(resource_name),
              :html => { :id => "user_edit", :method => :put },
              :validate => true
              ) do |f| %>

    <div class="form-inputs">
      <label for="">Ange ditt namn</label>
      <%= f.input :first_name, :placeholder => "Förnamn", :label => false, 
                  :input_html => { :class => "five columns" }, :autofocus => true %>
      <%= f.input :last_name, :placeholder => "Efternamn", :label => false,
                  :input_html => { :class => "six columns offset-by-one" } %>
      <%= f.input :email, :label => "Epost" %>
      <br>
      <%= f.input :password, 
                  :label => "Lösenord <span class=\"hint\">(fyll ej om du inte vill ändra)</span:", :required => false %>
      <%= f.input :password_confirmation, 
                  :label => "Verifiera ditt lösenord" %>
      <br>
    <%= f.input :current_password, 
                :label => "Nuvarande lösenord <span class=\"hint\">(behövs för att validera lösenords ändringar)</span>" %>
    </div>
    <br>
    <br>
    <div class="form-actions">
      <%= f.button :submit, "Ändra mina uppgifter" %> eller <a href="/bookings/index">Tillbaka till mina bokningar</a>
    </div>
  <% end %>
<% end %>

<% content_for :secondary_action do %>
  <br>

  <div class="panel radius">
    <h4>Radering av konto</h4>
    <p>Inte njöd med tjänsten? Du kan <%= link_to "klicka här för att ta bort ditt konto", registration_path(resource_name), :data => { :confirm => "Säkert?" }, :method => :delete %>.</p>
    <p>Om du vill radera ditt konto, skulle du vara intresserat att berätta vad vi kunde ha gjort för att förbättra vår service?</p>
  </div>
<% end %>
