<%# FIXME: dude, i know you're in a hurry, but <br> tags, really? %>
<% content_for :header_title do %><h3>Skapa konto</h3><% end %>
<% content_for :primary_width_class do %><%= "seven columns" %><% end %>
<% content_for :secondary_width_class do %><%= "five columns" %><% end %>



<% content_for :primary_action do %>
  <br>
  <%= simple_form_for(  resource, 
  					  :as => resource_name, 
  					  :url => registration_path(resource_name),
              :html => { :id => "user_new" },
              :validate => true
              ) do |f| %>

    <div class="form-inputs">
      <label for="">Ange ditt namn</label>
      <%= f.input :first_name, :placeholder => "Förnamn", :label => false, 
                  :input_html => { :class => "five columns" }, :autofocus => true %>
      <%= f.input :last_name, :placeholder => "Efternamn", :label => false,
                  :input_html => { :class => "six columns offset-by-one" } %>
      <%= f.input :email, :label => "Epost" %>
      <br>
      <%= f.input :password, :label => "Lösenord" %>
      <%= f.input :password_confirmation, :label => "Verifiera lösen" %>
    </div>
    <br>
    <br>
    <div class="form-actions">
      <%= f.button :submit, "Skapa konto" %>
    </div>
  <% end %>
<% end %>

<% content_for :secondary_action do %>
  <br>

  <div class="panel radius"> 

    <p>Har du redan skapat ett konto hos oss? <%= link_to "Du kan gå direkt till inloggningen", new_session_path(resource_name) %>.</p>
    <h6>Ny användare?</h6>
    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
     <p>För att börja använda sidan måste du först bekräfta ditt konto med din epost address. Har du inte fått nån meddelande? <%= link_to "Klicka här så skickar vi instruktioner om bekräftelse igen", new_confirmation_path(resource_name) %>.
      </p>
    <% end -%>
  </div>
<% end %>