<%# TODO: move inline stylesheets to an external scss file %>
<% content_for :javascripts do %><%= javascript_include_tag "bookings" %><% end %>
<% content_for :stylesheets do %><%= stylesheet_link_tag "bookings" %><% end %>
<% content_for :body_class do %><%= "bookings" %><% end %>

<div id="booking_msg" class="panel" style="margin-bottom:6px;">
	<p>Våra erbjudanden är <strong>Hel Vecka (sön till sön)</strong>, <strong>Kort Vecka (sön - tor)</strong>, eller <strong>Weekend (tor - sön)</strong></p>
	<p>Vill du stanna längre? <a href="mailto:info@satertjarn15b.se">Kontakta oss</a>.</p>
</div>

<p style="font-weight:bold;color:darkgrey; margin-bottom:2px;">Välj ditt planerade ankomstdatum för att boka. </p>
<% if @bookings %><p style="color:grey;">
	Du har <%= @bookings %> bokningar.
</p><% end %>


<div id='calendar'></div>

<div id="cal_modal" class="reveal-modal medium">
	<a href="" class="close-reveal-modal">&times;</a>
	<div id="bookings_app"></div>
</div>

