<% content_for :header_title do %><h3>Ändra ditt lösenord</h3><% end %>
<% content_for :primary_width_class do %><%= "seven columns" %><% end %>
<% content_for :secondary_width_class do %><%= "five columns" %><% end %>


<% content_for :primary_action do %>
  <%= simple_form_for( resource, :as => resource_name, 
             :url => password_path(resource_name), 
             :html => { :method => :put }) do |f| %>

    <%= f.error_notification %>

    <%= f.input :reset_password_token, :as => :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password, :label => "Ange ditt nytt lösenord", :required => true %>
      <%= f.input :password_confirmation, :label => "Verifiera ditt lösenord", :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Ändra mitt lösenord" %>
    </div>
  <% end %>
<% end %>

<% content_for :secondary_action do %>
  <br>  
  <p>Tveka inte att <a href="mailto:support@satertjarn15b.se">kontakta oss</a> om du har problem med ditt konto, eller med änvändning av bokningssystemet!</p>
<% end %>