<% content_for :header_title do %><h3>Glömt ditt lösenord?</h3><% end %>
<% content_for :primary_width_class do %><%= "seven columns" %><% end %>
<% content_for :secondary_width_class do %><%= "five columns" %><% end %>


<% content_for :primary_action do %>
  <%= simple_form_for( resource, :as => resource_name, 
             :url => password_path(resource_name), 
             :html => { :method => :post }) do |f| %>

    <div class="form-inputs">
    	<%= f.input :email, :label => "Epost", :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Skicka mig instruktioner för att ändra mitt lösenord" %>
    </div>
  <% end %>
<% end %>

<% content_for :secondary_action do %>
  <br>  
  <p>Tveka inte att <a href="mailto:support@satertjarn15b.se">kontakta oss</a> om du har problem med ditt konto, eller med änvändning av bokningssystemet!</p>
<% end %>