<script type="text/javascript">
var flashvars = {};
flashvars.galleryURL = "/gallery.xml";
simpleviewer.ready(function () {
	simpleviewer.load('sv-container', '980px', '550px', '222222', true, flashvars);
});
</script>
<div id="sv-container"></div>