<% content_for :title do %><%= @page.title %><% end %>
<% content_for :meta_keywords do %><%= @page.meta_keywords %><% end %>
<% content_for :meta_description do %><%= @page.meta_description.html_safe %><% end %>
<% content_for :body_class do %><%= "#{(@page.slug == "home" ? "home" : "")}" %><% end %>

<div id="content">
	<% if @page.slug == 'home' %><%= render 'simpleviewer' %><% end %>
	<div id="page_body">
		<%= @page.body.html_safe %>
	</div>
	<% if @page.slug == 'home' %>
	<p id="booking_button"><a href="/bookings/index" class="large secondary button">Boka Nu</a></p>
	<% end %>
	<p style="clear:both;"></p>
</div>