<p>Hej <%= @user.first_name %>!</p>

<p>Tack för din bokning av Sätertjarn 15B.</p>

<p>Din angiven ankomst datum är <strong><%= @reservation.arrival %></strong>, och avrese datum är <strong><%= @reservation.departure %></strong>. Priset är <strong><%= @reservation.price %> kr</strong></p>

<p>Betalning sker till bankkonto nr 130850548, Clearing nr. 81828 (Sparbanken Västra Mälardalen). Ange ref nr. <%= @reservation.reference %> vid betalning.</p>

<p>Du kommer får bekräftelse när din betalning har mottagits.</p>

<p>Vänligen <a href="mailto:support@info@satertjarn15b.se">kontakta oss</a> om du har inte gjort någon bokning, eller vill avboka.</p>

<p>Med vänliga hälsningar</p>

<p>Johan och Jimmy</p>