<h3>Ny bokning</h3>

<p>En ny bokning har kommit in.</p>
<p>ref nr. <%= @reservation.reference %></p>
<p>Namn: <%= "#{@user.first_name} #{@user.last_name}".html_safe %></p>
<p>Epost: <%= @user.email %></p>

<p><a href="https://satertjarn15b.se/admin/reservations/<%= @reservation.id %>">Logga in som admin</a> för att kolla bokningen.</p>