<p>Hej <%= @user.first_name %>!</p>

<p>Vi har tagit emot din betalning för bokningen med ref nr <%= @reservation.reference %>. Din bokning är nu bekräftat.</p>

<p>Du är varmt välkommen. Vi önskar dig en trevlig vistelse!</p>

<p>Johan och Jimmy</p>