<%# FIXME: dude, i know you're in a hurry, but <br> tags, really? %>
<% content_for :header_title do %><h3>Inloggning</h3><% end %>
<% content_for :primary_width_class do %><%= "six columns" %><% end %>
<% content_for :secondary_width_class do %><%= "six columns" %><% end %>



<% content_for :primary_action do %>
  <br>
  <%= simple_form_for(  resource, 
  					  :as => resource_name, 
  					  :url => session_path(resource_name),
              :html => {:id => "user_new"}
              ) do |f| %>

    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email, :label => false, :placeholder => "Epost", :autofocus => true %>
      <%= f.input :password, :label => false, :placeholder => "Lösenord" %>
      <%= f.input :remember_me, :label => 'Kom ihåg mig', :as => :boolean if devise_mapping.rememberable? %> 
     <br><br>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%= link_to "Glömnt ditt lösenord?", new_password_path(resource_name) %><br />
      <% end -%>
    </div>
    <br>
    <br>
    <div class="form-actions">
      <%= f.button :submit, "Inloggning" %>
    </div>
  <% end %>
<% end %>

<% content_for :secondary_action do %>
  <br>

  <div class="panel radius"> 
    <h5>Till nya användare</h5>
    <p>Första gången du använder vår bokningssida? <%= link_to "Här skapar du ett konto", new_registration_path(resource_name) %>.</p>
    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
     <p>För att börja använda sidan måste du först bekräfta ditt konto med din epost address. Har du inte fått nån meddelande? <%= link_to "Klicka här så skickar vi instruktioner om bekräftelse igen", new_confirmation_path(resource_name) %>.
      </p>
    <% end -%>
  </div>
<% end %>



<%= render "devise/shared/links" %>
