// vertical centering
body.devise { 
  padding: 5% 0; 

  div#wrapper { padding: 10% 0; width: 768px; }

  div#logo { border-right: 1px dotted lightgray; }
}


// fix the remember_me inline label
input#user_remember_me + label.boolean { display: inline; }

// increase the spacing between boxes a little
div#auth_w_header, div#auth_w_action {
	margin-bottom: 30px;
}

div#auth_w_action {
	& div.form-actions { text-align: right; }

  & div.form-inputs span.hint { 
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    color: gray;

 }
}