@import "foundation/mixins/clearfix";

div#cal_modal {
	p#cal_modal_price {
		float: right;
		font-size: 53px;
		font-weight: bold;
		margin-right: 68px;
	}

	form.custom {
		float: left;
	}

	hr {
		@include clearfix;
	}
}

div#booking_msg p {
	margin-bottom:5px;
}