<p>Hej <%= @resource.first_name %>!</p>
<p>Tack för ditt intresse, och välkommen till vår boknings sida.</p>
<p>Du kan bekräfta ditt epost address och börja använda tjänsten genom att klicka på länken nedan.</p>

<p><%= link_to 'Bekräfta konto', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

