<footer id="footer">
  <p class="copyright">Sätertjärn 15B, Copyright &copy; <%= Date.today.year %></p>
  <ul>
	<li><a href="/hitta-hit" >Hitta hit</a></li>
	<li><a href="/kontakt" >Kontakt</a></li>
	<li><a href="/hyresvillkor" >Allmänna hyresvillkor</a></li>
	<li><a href="//facebook.com/satertjarn15b" >Facebook</a></li>
  </ul> 
  <div id="fb_wrapper">
	  <div class="fb-like" data-href="http://facebook.com/satertjarn15b" data-send="false" data-width="500" data-show-faces="false"></div>
  </div>

</footer>