<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>Mina bokningar</title>
  <meta name="viewport" content="width=device-width">

  <%= render "stylesheets" %>

  <%= javascript_include_tag "polyfills" %>

  <%= csrf_meta_tag %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
</head>