<head>
  <meta charset="utf-8">

  <%# Use the .htaccess and remove these lines to avoid edge case issues. %>
  <%# More info: h5bp.com/b/378 %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield :title %></title>
  <meta name="keywords" content="<%= yield :meta_keywords %>">
  <meta name="description" content="<%= yield :meta_description %>">
  <meta name="google-site-verification" content="zV58n2wzPE5goT9v2zz6sxp5jj1I0LfEdVFb8e14i6M" />

  <%# Mobile viewport optimized: h5bp.com/viewport %>
  <meta name="viewport" content="width=device-width">

  <%= render "stylesheets" %>
  
  <% if ( controller.controller_name == "pages" ) && (@page.slug == "home") %>
  <script type="text/javascript" src="/svcore/js/simpleviewer.js"></script>
  <% end %>

  <%= javascript_include_tag "polyfills" %>

  <%= csrf_meta_tag %>
  
  <%# NOTE: important for the fullCalendar REST app to work %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if ( controller.controller_name == "bookings" ) && protect_against_forgery? %>
</head>