<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=380409268697428";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="header">
	<div id="logo">
		<h2><a title="Välkommen till Sätertjärn 15B" href="/">Sätertjärn 15B</a></h2>
		<h3>bokningssida</h3>
	</div>
	<ul id="utility_nav">
		<%= render 'devise/menu/registration_items' %>
		<%= render 'devise/menu/login_items' %>
	</ul>
	<ul id="nav">
		<li><a href="/" >Hem</a></li>
		<li><a href="/hitta-hit" >Hitta hit</a></li>
		<li><a href="/kontakt" >Kontakt</a></li>
		<li><a href="/hyresvillkor" >Allmänna hyresvillkor</a></li>
		<li><a href="//facebook.com/satertjarn15b">Facebook</a></li>
		<% if user_signed_in? %>
		<li><a href="/bookings/index">Mina bokningar</a></li>
		<% end %>
	</ul>
</div>