<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js", :lang => "en" %>
  <%= render "head" %>
  <body class="pages calendar">
    <div id="wrapper">
      <%= render "chromeframe" %>

      <%= render "header" %>

      <div id="main" role="main">
        <%= render "flashes" %>
        <%= yield %>
      </div>

      <%= render "footer" %>
    </div>
    <%= render "javascripts" %>
  </body>
</html>