<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js", :lang => "en" %>
  <%= render "head" %>
  <body class="devise">
    <div class="row" id="wrapper">
      <%= render "chromeframe" %>

      <div class="row" id="auth_w_header">
        <div class="<%= yield :primary_width_class %>" id="logo">
          <h2><a title="Välkommen till Sätertjärn 15B" href="/">Sätertjärn 15B</a></h2>
          <h3>bokningssida</h3>
        </div>
        <div class="<%= yield :secondary_width_class %>">
          <%= yield :header_title %>
        </div>
      </div>

      <div class="row" id="auth_w_action">
        <%= render "flashes" %>
        <div class="<%= yield :primary_width_class %>" id="primary_action">
          <%= yield :primary_action %>
        </div>
        <div class="<%= yield :secondary_width_class %>" id="secondary_action">
          <%= yield :secondary_action %>
        </div>
      </div>  

    </div>
    <%= render "javascripts" %>
  </body>
</html>